/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Open Sans", Helvetica, Arial, sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Nunito Sans", sans-serif;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: #333;
    background-color: #eef3f7;
}

.hero__content {
    position: relative;
    z-index: 2;
}

.video-bg {
    position: absolute;
    width: 100%;
    left: auto;
    right: auto;
    bottom: auto;
    height: 100%;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    z-index: 2;
}

.header__main-menu a {
    font-weight: 500;
    font-size: 14px;
    line-height: 134%;
    text-align: center;
    color: #066f9f;
    text-decoration: none;
}

.page-home .header__main-menu a {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.page-home .language-current svg path {
    stroke: #fff!important;
}

.page-home .language-current {
    color: #fff!important;
    border: 1px solid #fff!important;
}

.header__main-menu a:hover {
    opacity: 0.85;
}

.header__main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.header {
    height: 72px;
    backdrop-filter: blur(12px);
}

.page-home .header {

    background: rgba(0, 0, 0, 0.2);
}

.page-inner .header {
    background: rgba(0, 0, 0, 0.03);
}

.header__logo a {
    display: flex;
    align-items: center;
}

.hero {
    /*background-image: url("../img/head-bg.png");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    align-items: flex-end;
    padding: 200px 0 40px;
    display: flex;
    position: relative;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.hero-logo {
    margin-bottom: 50px;
}

.card-block {
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    border-bottom: 1px solid #fff;
    width: 125px;
    padding: 12px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    background: rgb(239 56 76);
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.card-item:hover {
    opacity: 1;
    transform: translateY(-9px);
}

.card-item--number {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 15px;
}

.card-item--title {
    font-weight: 500;
    font-size: 11px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    word-wrap: break-word;
    margin-bottom: auto;
}

.card-item--icon {
    text-align: right;
    margin-top: 15px;
}

.links-section{
    border-bottom: 1px solid #00000026;
}
.links-content {
    margin: 23px 0 26px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    gap: 26px;
}
.links-content a {
    display: flex;
    color: #023388;
    text-decoration: none;
    align-items: center;
    border-left: 2px solid #027DBC;
    padding-left: 13px;
    max-width: max-content;
}

.chart-section {
    padding: 50px 0;
}


.chart-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 134%;
    color: #333945;
    text-align: center;
    margin-bottom: 25px;

    span {
        color: #066f9f;
    }
}

.chart-instruction {
    font-weight: 400;
    font-size: 24px;
    line-height: 134%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 45px;
}

.about-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 134%;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
}

.about-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 134%;
    color: #333945;
    text-align: center;
    margin-bottom: 40px;
}

.sdg-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 25px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.about-text {
    border: 4px solid #CB942F;
    padding: 20px 50px;
    position: relative;
    margin-bottom: 50px;

    &::before {
        content: '';
        position: absolute;
        top: -40px;
        left: 24px;
        background-color: #eef3f7;
        bottom: -40px;
        right: 24px;
    }
}

.about-text-conten {
    position: relative;
    text-align: center;
}

.about-text-conten {
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    text-align: center;

    a {
        color: #0058ef;
        text-decoration: underline;
        text-decoration-skip-ink: none;

        &:hover {
            text-decoration: none;
        }
    }
}

.text-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
    color: #000;
    margin-bottom: 50px;

}

.text-block p {
    margin-bottom: 0.5rem;
}

.download-section {
    border: 2px solid #CB942F;
    padding: 30px 20px 20px;
    text-align: center;
}

.download-btn {
    border-radius: 2px;
    padding: 12px 24px;
    border: 1px solid #cb942f;
    background: #cb942f;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 18px;
    transition: all 0.3s ease;

    &:hover {
        background: #fff;
        color: #cb942f;
    }
}

.file-info {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000;
}

.about-content {
    margin-bottom: 70px;
}

.footer {
    background: #272d31;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-logo-text {
    max-width: 450px;
    color: #fff;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 134%;
    color: #fff;
}

.footer-top {
    padding: 30px 0;
}

.footer-bottom {
    background: #1D2428;
    padding: 15px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

.footer-bottom-text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 134%;
    color: #fff;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        opacity: 0.5;
        transition: opacity 0.3s ease;
        display: inline-flex;

        &:hover {
            opacity: 1;
        }
    }
}

.hero-logo {
    margin-bottom: 50px;
    text-align: center;
}

.language-switcher {
    position: relative;
    display: block;
}

.page-inner .language-current svg path {
    stroke: #066f9f;
}

.language-switcher .language-current {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #066f9f;
    border-radius: 8px;
    color: #066f9f;
}

.language-switcher .language-current:hover {
    border-color: #d74e5b;
    box-shadow: 0 2px 8px rgba(215, 78, 91, 0.1);
}

.language-switcher .language-current .flag-icon {
    width: 20px;
    height: 15px;
    border-radius: 2px;
    object-fit: cover;
}

.language-switcher .language-current .language-name {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.header__logo {
    display: inline-flex;
}

.language-current.active svg {
    transform: rotate(180deg);
}

.language-switcher .language-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    width: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.language-switcher .language-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.language-switcher .language-dropdown a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    text-decoration: none;
    color: #224;
    transition: all 0.3s ease;
    font-family: var(--second-family);
    font-size: 14px;
    background: rgba(255, 255, 255, 0.8);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #066f9f;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 8px 16px;
}

.language-switcher .language-dropdown a:hover {
    background: #f8f9fa;
}

.chart-line-title span {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
}

.language-switcher .language-dropdown a.active {
    background: #d74e5b;
    color: #fff;
}

.language-switcher .language-dropdown a .flag-icon {
    width: 20px;
    height: 15px;
    border-radius: 2px;
    object-fit: cover;
}

.language-switcher .language-dropdown a .language-name {
    font-weight: 500;
}

.chart-line {
    width: 688px;
    display: flex;
    background: rgba(125, 140, 153, 0.07);
    height: 34px;

    align-items: center;
    gap: 4px;
    padding: 0 4px
}

.chart-line-item {
    height: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.chart-line-item:hover {
    transform: translateY(-4px);
    opacity: 0.8;
}

.good {
    background: #2EB24D;
}

.bad {
    background: #f1523d;
}

.neutral {
    background: #fa0;
}

.chart-line-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    align-items: center;
}

.chart-container {
    position: relative;
    width: 1120px;
}

.chart-line-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #272d31;
}

.tooltip {
    position: absolute;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    padding: 8px 12px;
    max-width: 250px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s;
    z-index: 999;
}

.tooltip-title {
    font-weight: 500;
    margin-bottom: 6px;
}

.tooltip-row {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tooltip-cube {
    width: 15px;
    height: 12px;
}

.tooltip-value {
    font-weight: bold;
}

.chart-block-indecator-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.chart-block-indecator-item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #272d31;
    opacity: 0.7;
}

.chart-block-indecators {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    /* justify-content: space-between; */
    flex: 1;
    column-gap: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;
}

.chart-block-top {
    display: flex;
    align-items: flex-end;
}

.chart-block-years {
    width: 688px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.admin-sidebar {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.admin-sidebar .sidebar {
    width: 280px;
    background: #343a40;
    color: white;
    padding: 20px 10px;
    flex-shrink: 0; /* не даём сжиматься */
}

.admin-sidebar .sidebar a {
    display: block;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 6px;
}

.admin-sidebar .sidebar a:hover {
    background: #495057;
}

.admin-sidebar .content {
    flex: 1;
    padding: 20px;
    background: #f8f9fa;
}

.header__admin-link .download-btn {
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center
}

.content-page {
    margin-top: 80px;
}

.content-page ul li {
    margin-bottom: 1.5rem;
}

.content-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-page .statistics-list li {
    margin-bottom: 10px;
}
.content-page a {
    color: #4264D0;
}
.statistic {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    background: #F5F7F9;
    border-radius: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #4264D0;
}
.content-page a:hover {
    text-decoration: underline;
}

.statistic:hover {
    background: #4264D0;
    color: #fff;
}
.statistic-right {
    display: flex;
    align-items: center;
}
.statisctic-icon {
    margin-left: 7px;
}
.block-title {
    font-weight: 300;
    font-size: 28px;
    line-height: 140%;
    color: #13171F;
}
.top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.white-bg-block {
    padding: 22px 33px;
    background: #fff;
    border-radius: 8px;
}
.small-block-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 130%;
    color: #000000;
}
.text-center {
    text-align: center !important;
}
.goal-img img {
    max-width: 100%;
    width: auto;
    margin: 0 auto 10px;
}
.content-page ul.goals-link-list li {
    margin-bottom: 10px;
}
.content-page a {
    color: #4264D0;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-4 {
    margin-bottom: 40px;
}
.content-page p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
}

.sustainable-goals-block {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
}
.sustainable-goals-block .sustainable-goals-item {
    text-align: center;
    width: 25%;
}
.sustainable-goals-block .sustainable-goals-item img {
    max-width: 45px;
    display: block;
    margin: 0 auto 10px;
}

.sustainable-goals-item {
    font-size: 14px;
    font-weight: 400;
}

.content-page table {
    border-collapse: collapse;
}
.content-page tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
.content-page table td {
    border: 1px solid #ECECEC;
    padding: 10px;
}
.content-page p {
    color: #2B2E35;
    line-height: 1.5;
    font-size: 14px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.header__burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.header__burger span {
    width: 25px;
    height: 2px;
    background: #fff;
}

.header__burger-logo {
    display: none;
    gap: 22px;
    align-items: center;
}
.header__burger-logo a {
    display: flex;
    align-items: center;
}


@media (max-width: 1200px) {
    .hero {
        height: auto;
    }

    .container {
        max-width: auto;
        margin: 0 auto;
        width: auto;
        padding: 0 20px;
    }

    .chart-container {
        position: relative;
        width: 1120px;
    }

    .chart-section {
        padding: 50px 0;
        overflow: auto;
    }

    .card-item {
        width: 120px;
    }

    .card-item--title {
        font-size: 9px;
    }

    .chart-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .chart-instruction {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .about-title {
        font-size: 18px;
    }

    .about-section {
        padding-top: 30px;
    }

    .about-subtitle {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .about-text-conten {
        font-size: 16px;
    }

    .download-btn {
        font-size: 14px;
    }

    .social-links {
        gap: 4px;
    }

    .hero-logo {
        margin-bottom: 30px;
        width: 50%;
        margin: 0 auto 30px;

        img {
            width: 100%;
        }
    }
    .hero__content {
        z-index: 1!important;
    }
    .header__content:not(:last-child) {
        display: inline-flex!important;
        gap: 30px
    }

    .header__burger {
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 10px;
    }

    .header__main-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        position: absolute;
        top: 70px;
        left: 22px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .header__main-menu a {
        color: #066f9f!important;
        text-shadow: none!important;
    }

    .page-inner .header__burger span {
        background: #066f9f!important;
    }

    .page-inner .header__burger {
        border: 1px solid #066f9f!important;
    }

    .header__burger {
        display: flex;
    }

    .header__burger-logo {
        display: flex;
    }

    .header__nav.active .header__main-menu,
    .header__nav.active .header__admin-link {
        display: flex;
    }
}
